.excercise {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-bottom: .1rem;
    z-index: 1;
    background-color: rgba(var(--darkgreyblue), 0.9);
    font-size: calc(0.5rem + (26 - 14) * ((100vw - 30rem) / (1600 - 300)));
    margin: 0 auto;
    box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: var(--radius);
    margin-bottom: 0.2rem;;
    padding: 0.2rem;
    cursor: pointer;
    z-index: 1;
  }
  .excercise:hover {
background-color: rgba(var(--lightpetrolium),0.2);
transition: background-color 250ms linear;
  }
  .excercisehead {
    position: relative;
    display: inline-block;
    height: 1rem;
    padding-top: 0.5rem;
    text-align: left;
    color: rgba(var(--white), 0.9);
  
  }
  
  .excercisehead p {
    text-align: left;
    padding-left: 1rem;
    margin-block-start: 0rem;
    margin-block-end: 0em;
  }
  
  .addtoWorkout {
    margin: 0 auto;
    display: inline;
    height: 2rem;
    padding: 0.2rem;
    padding-right: 0.5rem;
    float: right;
  
  
  }
  .addtoWorkout button{
    z-index: 40;
  }
  .excerciseDetail{
    padding: 0.5rem;
    margin:0.5rem;
    color:rgba(var(--white), 0.9);
    background-color: rgba(var(--lightpetrolium),0.2);
    border-radius: var(--radius);
    pointer-events: none;
    display: none;
  }
  .excercise input {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    outline: 0;
    background:rgba(--lightreyblue,0);
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border: 0;
    box-sizing: border-box;
    color: rgba(var(--white),1);
    border-radius: var(--radius);
  }

  .inputEnabled{
    position: relative;
    z-index: 10;
    background: rgba(var(--lightreyblue),1);
    margin: 0 0 0rem;
    padding: 0.2rem;
    width: 100%;
    color: rgba(var(--darkgreyblue),1);
    pointer-events: all;
}

input:disabled {
    background-color: transparent!important;
    border-color: transparent;
    margin: 0 0 0.1rem;
    padding: 0.5rem;
}
input:-internal-autofill-selected {
background-color: transparent!important;

}

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }