
.landingPageBG{
position: relative;
z-index: 1;
padding-top: 15vh;;
display: block;
width: 100%;
height: auto;
margin-top: -14vh;
background-color: var(--darkblue);
background-size: cover;    
background-blend-mode:luminosity;
background-repeat: no-repeat;
}
